# Virtual Environment
venv/
env/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Logs
*.log
logs/

# Environment variables
.env

# Distribution / packaging
dist/
build/
*.egg-info/

# Docker volumes
data/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db 